@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
	/* Firefox */
	scrollbar-width: none;
	scrollbar-color: #ffffff #ffffff;

	/* Chrome, Edge, and Safari */
	&::-webkit-scrollbar {
		width: 0px;
	}

	&::-webkit-scrollbar-track {
		background: #ffffff;
	}

	&::-webkit-scrollbar-thumb {
		background-color: #ffffff;
		border-radius: 0px;
		border: 0px none #ffffff;
	}
}

body {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	&.locked {
		@apply overflow-hidden;
	}
}

.fix-height {
	height: calc(var(--vh, 1vh) * 100);
}

.header-link {
	@apply rounded-md font-semibold tracking-wider transition duration-500 flex justify-center items-center hover:bg-[#7396ad] hover:bg-opacity-20 text-[14px] py-[4px] px-[8px] h-[32px];
}

.header-menu {
	@apply bg-[#7396ad] bg-opacity-20 desktop:bg-transparent;
}

.main-button {
	@apply rounded-md text-center text-white tracking-wider font-bold flex justify-center items-center bg-opacity-80 bg-[#181a1f] text-[12px] w-full tablet:w-[256px] h-[40px];
}

.white-button {
	@apply rounded-md text-center tracking-wider font-bold flex justify-center items-center bg-opacity-[65%] bg-white text-[12px] text-[#393c41] w-full tablet:w-[256px] h-[40px];
}

.footer-list {
	@apply pb-[6px] tablet:py-[8px];
}

.overlay {
	@apply fixed hidden inset-0 bg-[rgba(0,0,0,0.3)] backdrop-blur-sm z-10;
	&.active {
		@apply block;
	}
}

.right-menu {
	@apply w-[311px] bg-white shadow-xl fixed top-0 right-0 h-screen transition duration-300 -translate-x-[-150%] z-20;
	&.active {
		@apply translate-x-0;
	}

	&__btn {
		@apply w-[32px] h-[32px] rounded-md flex justify-center items-center cursor-pointer transition duration-300 hover:bg-[#f5f5f5] ml-auto;
	}

	&__box {
		@apply overflow-x-auto max-h-full pb-32;
	}
}

.right-menu-link {
	@apply block w-full mb-2 py-1 px-2 hover:bg-[#f2f2f2] text-[15px] font-medium tracking-wider transition duration-300;
}